<div class="hero-unit">
  <h2>All EarnedBadges</h2>
  <%- linkTo('Create a new EarnedBadge', addEarnedBadgePath, {class: 'btn pull-right'}); %>
</div>

<div id="earnedBadges-list">
<% if (earnedBadges) { %>
<% for (var i = 0, ii = earnedBadges.length; i < ii; i++) { %>
  <div class="row list-item" id="earnedBadge-<%= earnedBadges[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(earnedBadges[i].id, earnedBadgePath(earnedBadges[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= earnedBadges[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>