<div class="control-group">
  <label for="title" class="control-label">title</label>
  <div class="controls">
    <%- contentTag('input', badge.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="desc" class="control-label">desc</label>
  <div class="controls">
    <%- contentTag('input', badge.desc, {type:'text', class:'span6', name:'desc'}) %>
  </div>
</div>
<div class="control-group">
  <label for="img" class="control-label">img</label>
  <div class="controls">
    <%- contentTag('input', badge.img, {type:'text', class:'span6', name:'img'}) %>
  </div>
</div>
<div class="control-group">
  <label for="cost" class="control-label">cost</label>
  <div class="controls">
    <%- contentTag('input', badge.cost, {type:'number', class:'span2', name:'cost'}) %>
  </div>
</div>
