<div class="hero-unit">
  <h2>All Badges</h2>
  <%- linkTo('Create a new Badge', addBadgePath, {class: 'btn pull-right'}); %>
</div>

<div id="badges-list">
<% if (badges) { %>
<% for (var i = 0, ii = badges.length; i < ii; i++) { %>
  <div class="row list-item" id="badge-<%= badges[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(badges[i].title, badgePath(badges[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= badges[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>