<div class="control-group">
  <label for="title" class="control-label">title</label>
  <div class="controls">
    <%- contentTag('input', profile.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="e" class="control-label">e</label>
  <div class="controls">
    <%- contentTag('input', profile.e, {type:'text', class:'span6', name:'e'}) %>
  </div>
</div>
<div class="control-group">
  <label for="desc" class="control-label">desc</label>
  <div class="controls">
    <%- contentTag('input', profile.desc, {type:'text', class:'span6', name:'desc'}) %>
  </div>
</div>
<div class="control-group">
  <label for="img" class="control-label">img</label>
  <div class="controls">
    <%- contentTag('input', profile.img, {type:'text', class:'span6', name:'img'}) %>
  </div>
</div>
